body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(85, 82, 82);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#myButton {
  font-size: 3em;
  padding: 5px 25px;
}
#myLabel {
  color: white;
  display: block;
  font-size: 2rem;
}
