@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main-h {
  font-size: 2.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
body {
  background-color: #292c34;
  color: #fff;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
  font-style: bold;
}
form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0;
}
input,
button {
  background-color: #fff;
  font-size: 1.2rem;
  border: none;
  padding: 15px 20px;
}
input {
  font-weight: bold;
}
input.focus {
  outline: none;
}
button {
  cursor: pointer;
}
.char-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 3rem;
  justify-content: center;
}
.char-box {
  width: 300px;
  height: 450px;
  margin: 20px;
  background-color: #3c3c44;
  border-radius: 15px;
  flex-shrink: 0;
  margin: 20px;
}
.char-box img {
  width: 100%;
  height: auto;
  filter: drop-shadow(5px 5px 5px #222);
}

.char-box h3 {
  font-size: 1.7rem;
}
.char-box p {
  margin: 5px auto;
}
