body{
    font-family: verdana;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(83, 77, 77);
}
#myH1{
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 217, 0);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(110, 21, 211);
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.767);
    margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: background-color 0.5s ease;
}
#startBtn{
    background-color: hsl(268, 83%, 56%);
}
#startBtn:hover{
    background-color: hsl(268, 83%, 35%);
}
#resetBtn{
    background-color: hsl(268, 83%, 56%);
}
#resetBtn:hover{
    background-color: hsl(268, 83%, 35%);
}
#stopBtn{
    background-color: hsl(268, 83%, 56%);
}
#stopBtn:hover{
    background-color: hsl(268, 83%, 35%);
}